body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(95, 198, 28);
}

.text {
  float: left;
  min-width: 250px;
  max-width: 1200px;
}

._button {
  display: block;
  position: relative;
  float: left;
  width: 250px;
  min-width: 250px;
  max-width: 1200px;
  height: 66px;
  margin-top: 49px;
  border-radius: 8px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  width: 346px;
  min-height: 116px;
  margin: 32px 0 0 35.59896%;
  padding: 8px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 3.938em;
  color: rgb(0, 0, 0);
}

.text-2 {
  clear: both;
  width: 408px;
  min-height: 50px;
  margin: 39px 0 0 23.59896%;
  font-size: 1em;
  color: rgb(95, 198, 28);
}

.text-3 {
  clear: both;
  width: 408px;
  min-height: 50px;
  margin-left: 23.59896%;
  font-size: 1em;
  color: rgb(95, 198, 28);
}

._button-1 {
  clear: both;
  z-index: 3;
  margin-left: 23.59896%;
}

._button-2 {
  z-index: 4;
  margin-left: 5.23438%;
}

@media(max-width: 800px) {
  ._button {
    position: relative;
  }

  .text-1 {
    margin-left: 35.59766%;
  }

  .text-2 {
    position: relative;
    z-index: 1;
    margin-left: 23.59766%;
  }

  .text-3 {
    position: relative;
    z-index: 2;
    margin-top: -74px;
    margin-left: 23.59766%;
  }

  ._button-1 {
    clear: none;
    z-index: 3;
    margin-left: 23.59766%;
  }

  ._button-2 {
    z-index: 4;
  }
}