body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(95, 198, 28);
}

.text {
  float: left;
  min-width: 250px;
  max-width: 1200px;
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 250px;
  min-width: 250px;
  max-width: 1200px;
  height: 66px;
  margin: 42px 0 0 15.19921875%;
  border-radius: 8px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-1 {
  width: 346px;
  min-height: 116px;
  margin: 21px 0 0 35.59896%;
  padding: 8px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 3.938em;
  color: rgb(0, 0, 0);
}

.text-2 {
  clear: both;
  width: 34%;
  min-height: 50px;
  margin: 32px 0 0 15.19922%;
  font-size: 1em;
  color: rgb(95, 198, 28);
}

.text em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(55, 92, 182);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 0, 0);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 800px) {
  .text-1 {
    margin-left: 35.59961%;
  }
}